.box {
    border: 1px solid black;
    /* padding: 0.5rem; */
    background: transparent;
    outline: none;
}

.box:hover {
    background: var(--color);
    /* border: none; */
}

.box-res {
    border: 1px solid black;
    padding: 0.5rem;
    background: oklch(var(--a));
    color: oklch(var(--ac));
    outline: none;
}

.mode-select:hover{
    background: oklch(var(--b3));
}